@import url('https://fonts.googleapis.com/css?family=Leckerli+One');

div{
  background-color: yellow;
  font-size: 50px;
  margin: 30px;
}

#saludo{
  border: 15px solid red;
}

#despedida{
  border: 3px dotted blue;
}

.frances{
  color: red;
  font-weight: bold;
  font-family: sans-serif;
  box-shadow: 1px 1px 10px green;
  background-image: linear-gradient(170deg, #ff0000, #0000ff);
}

.chino{
  color: pink;
  font-family: "Leckerli One", cursive;
}

.ingles{
  padding: 20px 50px;
  background-image: url('epn.jpg');
  background-size: 100px;
  color: white;
}

/*
() parentesis
[] corchetes
{} llaves

<etiqueta> </etiqueta>
*/
